<div class="contenedor">
  <h1>Contacto</h1>
  <form action="https://formspree.io/f/xjvljeyo" method="POST">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" placeholder="Tu nombre..." />
    </div>
    <div>
      <label for="mail">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email..."
        required
      />
    </div>

    <div>
      <label for="mensaje">Mensaje</label>
      <textarea
        name="mensaje"
        id=""
        cols=""
        rows="5"
        id="mensaje"
        name="text"
        placeholder="Mensaje..."
      ></textarea>
    </div>
    <div>
      <button type="submit" value="submit">Enviar</button>
    </div>
  </form>
</div>
