.contenedor{
    overflow: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
   // scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 575px){
    .contenedor{
        scroll-snap-type: none;
    }
}