.contenedor{
    overflow: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}
.seccion{
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}