<div class="contenedor">
    <app-nav-bar></app-nav-bar>
    <div class="contenedor-home">
        <div class="contenedor-textoVertical">
            <p class="texto-vertical">Software Developer</p>
        </div>
        <div class="contenedor-introduccion">
            <p class="p1">Bienvenido a mi Portfolio</p>
            <p class="p2">Soy Jorge Heidenreich</p>
            <p class="p3">Desarrollador Web</p>
        </div>
        <div class="contenedor-iconos">
            <ul>
                <li>
                    <a class="mail" href="" routerLink="/contacto"></a>
                </li>
                <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/jorge-heidenreich-498aa8154/" target="_blank"></a>
                </li>
                <li>
                    <a class="github" href="https://github.com/jorgeheiden" target="_blank"></a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/jorgejmjh" target="_blank"></a>
                </li>
            </ul>
        </div>
        <div class="contenedor-iconosMobile">
            <ul>
                <li >
                    <a class="m" href="" routerLink="/contacto"></a>
                </li>
                <li >
                    <a class="l" href="https://www.linkedin.com/in/jorge-heidenreich-498aa8154/" target="_blank"></a>
                </li>
                <li>
                    <a class="g" href="https://github.com/jorgeheiden" target="_blank"></a>
                </li>
                <li>
                    <a class="t" href="https://twitter.com/jorgejmjh" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
</div>