<div class="contenedor">
    <app-nav-bar></app-nav-bar>
    <div class="contenedor-home">
        <div class="contenedor-textoVertical">
            <p class="texto-vertical">Software Developer</p>
        </div>
        <div class="contenedor-introduccion">
            <p class="p1">Bienvenido a mi Portfolio</p>
            <p class="p2">Soy Jorge Heidenreich</p>
            <p class="p3">Desarrollador Web</p>
        </div>
        <div class="contenedor-iconos">
            <ul>
                <li class="mail">
                    <a  href=""></a>
                </li>
                <li class="linkedin">
                    <a href=""></a>
                </li>
                <li class="github">
                    <a href=""></a>
                </li>
                <li class="twitter">
                    <a href=""></a>
                </li>
            </ul>
        </div>
        <div class="contenedor-iconosMobile">
            <ul>
                <li class="m">
                    <a  href=""></a>
                </li>
                <li class="l">
                    <a href=""></a>
                </li>
                <li class="g">
                    <a href=""></a>
                </li>
                <li class="t">
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>