<div class="contenedor" id="inicio">
    <app-nav-bar></app-nav-bar>
    <div class="contenedor-home">
        <div class="contenedor-textoVertical" [ngClass]="{'ocultar': ocultar, 'elemento4': mostrar}" >
            <p class="texto-vertical">Software Developer</p>
        </div>
        <div class="contenedor-introduccion">
            <p class="p1" [ngClass]="{'ocultar': ocultar, 'elemento1': mostrar}">Bienvenido a mi Portfolio</p>
            <p class="p2" [ngClass]="{'ocultar': ocultar, 'elemento2': mostrar}">Soy Jorge Heidenreich</p>
            <p class="p3" [ngClass]="{'ocultar': ocultar, 'elemento3': mostrar}">Desarrollador Web</p>
        </div>
        <div class="contenedor-iconos" [ngClass]="{'ocultar': ocultar, 'elemento5': mostrar}">
            <ul>
                <li>
                    <a class="mail" href="" routerLink="/contacto"></a>
                </li>
                <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/jorge-heidenreich-498aa8154/" target="_blank"></a>
                </li>
                <li>
                    <a class="github" href="https://github.com/jorgeheiden" target="_blank"></a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/jorgejmjh" target="_blank"></a>
                </li>
            </ul>
        </div>
        <div class="contenedor-iconosMobile">
            <ul>
                <li >
                    <a class="m" href="" routerLink="/contacto"></a>
                </li>
                <li >
                    <a class="l" href="https://www.linkedin.com/in/jorge-heidenreich-498aa8154/" target="_blank"></a>
                </li>
                <li>
                    <a class="g" href="https://github.com/jorgeheiden" target="_blank"></a>
                </li>
                <li>
                    <a class="t" href="https://twitter.com/jorgejmjh" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
</div>