  div{
    
  }
.contenedor {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/background/5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  scroll-snap-align: start;
  position: relative;
}
.contenedor-home {
  display: flex;
  margin-top: 5rem;
  width: 100vw;
  min-height: 60vh;
}
.contenedor-textoVertical {
  color: #666666;
  bottom: 10vh;
  display: flex;
  width: 10%;
  z-index: 10;
  position: fixed;
}
.texto-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 9%;
  font-family: "Roboto Mono", monospace;
}
.contenedor-introduccion {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 15%;
}
.contenedor-introduccion p {
  font-family: "Inter", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
}
.p1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(7, 66, 7);
}
.p2 {
  font-size: 4.5rem;
  
}
.p3 {
  font-size: 3.5rem;
  font-weight: 600;
}
.contenedor-iconos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 10vh;
}
.contenedor-iconos ul {
  padding: 0;
  margin: 0;
}
.contenedor-iconos li {
  margin-top: 1rem;
  list-style: none;
  cursor: pointer;
}
.contenedor-iconos a{
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
.contenedor-iconosMobile{
  display: none;
}
.linkedin {
  background: url("../../../assets/redes/icons8-linkedin-circled-gray.svg");
  background-size: contain;
  transition: background 0.5s ease-out;
}
.linkedin:hover {
  background: url("../../../assets/redes/icons8-linkedin-circled-green.svg");
  background-size: contain;
  transition: background 0.5s ease-out;
}
.linkedin:active{
  transform: scale(0.90);
}
.github {
  background: url("../../../assets/redes/github-gray.png");
  background-size: contain;
  transition: background 0.5s ease-out;
}
.github:active{
  transform: scale(0.90);
}
.github:hover {
  background: url("../../../assets/redes/github-green.png");
  background-size: contain;
  transition: background 0.5s ease-out;
}
.mail {
  background: url("../../../assets/redes/email-gray.png");
  background-size: contain;
  transition: background 0.5s ease-out;
}
.mail:active{
  transform: scale(0.90);
}
.mail:hover {
  background: url("../../../assets/redes/email-green.png");
  background-size: contain;
  transition: background 0.5s ease-out;
}
.twitter {
  background: url("../../../assets/redes/twitter-gray.png");
  background-size: contain;
  transition: background 0.5s ease-out;
}
.twitter:active{
  transform: scale(0.90);
}
.twitter:hover {
  background: url("../../../assets/redes/twitter-green.png");
  background-size: contain;
  transition: background 0.5s ease-out;
}

//Animacion inicio
.ocultar{
  opacity: 0;
  transform: translateY(100%);
}
.elemento1{
  opacity: 1;
  transform: translateY(0);
  transition-property: all;
  transition-duration: 200ms;
  transition-delay: 1900ms;
}
.elemento2{
  opacity: 1;
  transform: translateY(0);
  transition-property: all;
  transition-duration: 200ms;
  transition-delay: 2100ms;
}
.elemento3{
  opacity: 1;
  transform: translateY(0);
  transition-property: all;
  transition-duration: 200ms;
  transition-delay: 2300ms;
}
.elemento4{
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity;
  transition-duration: 200ms;
  transition-delay: 2800ms;
}
.elemento5{
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity;
  transition-duration: 200ms;
  transition-delay: 3000ms;
}

/********************************/
@media only screen and (max-width: 575px) {
  .contenedor{
   /* background-image: none;
    background-color: rgb(255, 255, 255);*/
    background: url("../../../assets/background/5.jpg");
    background-size: cover;
    
  }
  .contenedor-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
  .contenedor-introduccion{
    padding: 0;
    width: 90%;
  }
  .contenedor-textoVertical{
    display: none;
  }
  .contenedor-iconos{
    display: none;
  }
  .contenedor-iconosMobile{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 15vh;
  }
  .contenedor-iconosMobile ul{
    display: flex;
    padding: 0;
  }
  .contenedor-iconosMobile li{

    list-style: none;
    margin: 0 0.5rem 0 0.5rem;
  }
  
  .contenedor-iconosMobile a{
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
  .m{
    background: url("../../../assets/redes/mail.png");
    background-size: contain;
  }
  .l{
    background: url("../../../assets/redes/icons8-linkedin-circled-100.png");
    background-size: contain;
  }
  .g{
    background: url("../../../assets/redes/icons8-github-100.png");
    background-size: contain;
  }
  .t{
    background: url("../../../assets/redes/icons8-twitter-circled-100.png");
    background-size: contain;
  }
  .m:active{
    transform: scale(0.80);
  }
  .l:active{
    transform: scale(0.80);
  }
  .g:active{
    transform: scale(0.80);
  }
  .t:active{
    transform: scale(0.80);
  }
  
  .p1{
    font-size: 2.1rem;
  }
  .p2{
    font-size: 3.8rem;
  }
  .p3{
    font-size: 2.8rem;
  }
}