<div class="contenedor">
  <div class="titulo">
    <h1>Mis <span>Proyectos</span></h1>
  </div>
  <app-proyectos-destacados></app-proyectos-destacados>
  <ul>
    <li class="proyecto" #proyecto [ngClass]="{'ocultar-proyecto': ocultar, 'mostrar-proyecto1':mostrar}">
      <div class="detalles">
        <h1>E-commerce</h1>
        <p>Tipico E-commerce, con carrito de compras, galeria de imagenes, responsive</p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/e-commerce-product-page" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://e-commerce-product-page-992fa.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/e-commerce.png" alt="" />
    </li>
    <li class="proyecto" #proyecto [ngClass]="{'ocultar-proyecto': ocultar, 'mostrar-proyecto1':mostrar}">
      <div class="detalles">
        <h1>IP tracker</h1>
        <p>Aplicacion que permite determinar la ubicacion de una direccion IP o dominio </p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/IP-address-tracker-app" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://ip-tracker-8a913.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/ip tracker original.png" alt="" />
    </li>

    <li class="proyecto" #proyecto [ngClass]="{'ocultar-proyecto': ocultar, 'mostrar-proyecto1':mostrar}">
      <div class="detalles">
        <h1>Pomodoro</h1>
        <p>Reloj Pomodoro. Destinado a mejorar la productividad laboral.</p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/Pomodoro-app" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://pomodoro-app-392a3.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/pomodoro.png" alt="" />
    </li>

    <li class="proyecto" #proyecto [ngClass]="{'ocultar-proyecto': ocultar, 'mostrar-proyecto2':mostrar}">
      <div class="detalles">
        <h1>Country Info</h1>
        <p>
          Permite obtener informacion detallada, de cada uno de los paises a
          nivel global
        </p>
        <div class="githublink">
          <a
            href="https://github.com/jorgeheiden/country-info-app"
            target="_blank"
          >
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a
            href="https://country-app-bfe48.firebaseapp.com/home"
            target="_blank"
          >
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/countryinfo.png" alt="" />
    </li>
    <li class="proyecto" #proyecto [ngClass]="{'ocultar-proyecto': ocultar, 'mostrar-proyecto3':mostrar}">
      <div class="detalles">
        <h1>Todo-app</h1>
        <p>Completa Aplicacion donde se ponen en practica multiples conocimientos de desarrollo.</p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/Todo-app" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://todo-app-53a3f.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/captura-todoapp2.png" alt="" />
    </li>
    <li class="proyecto" #proyecto [ngClass]="{'ocultar-proyecto': ocultar, 'mostrar-proyecto4':mostrar}">
      <div class="detalles">
        <h1>Weather-app</h1>
        <p>Aplicacion meteorologica, con buscador y geolocalizacion</p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/weather-app" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://weather-app-51b7d.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/weather-app.png" alt="" />
    </li>
    <li class="proyecto" #proyecto [ngClass]="{'ocultar-proyecto': ocultar, 'mostrar-proyecto5':mostrar}">
      <div class="detalles">
        <h1>Portfolio</h1>
        <p>
          Mi Portfolio. Diseño integramente personal utilizando Html, Css,
          JavaScript y Angular
        </p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/Portfolio" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://portfolio-d210c.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/portfolio.png" alt="" />
    </li>
  </ul>
</div>
