<div class="contenedor">
  <div class="titulo">
    <h1>Mis <span>Proyectos</span></h1>
  </div>
  <ul>
    <li class="proyecto">
      <div class="detalles">
        <h1>Pomodoro</h1>
        <p>Reloj Pomodoro. Destinado a mejorar la productividad laboral.</p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/Pomodoro-app" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://pomodoro-app-392a3.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/pomodoro.png" alt="" />
    </li>

    <li class="proyecto">
      <div class="detalles">
        <h1>Country Info</h1>
        <p>
          Permite obtener informacion detallada, de cada uno de los paises a
          nivel global
        </p>
        <div class="githublink">
          <a
            href="https://github.com/jorgeheiden/country-info-app"
            target="_blank"
          >
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a
            href="https://country-app-bfe48.firebaseapp.com/home"
            target="_blank"
          >
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/countryinfo.png" alt="" />
    </li>
    <li class="proyecto">
      <div class="detalles">
        <h1>Weather-app</h1>
        <p>Aplicacion meteorologica, con buscador y geolocalizacion</p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/weather-app" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://weather-app-51b7d.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/weather-app.png" alt="" />
    </li>
    <li class="proyecto">
      <div class="detalles">
        <h1>Portfolio</h1>
        <p>
          Mi Portfolio. Diseño integramente personal utilizando Html, Css,
          JavaScript y Angular
        </p>
        <div class="githublink">
          <a href="https://github.com/jorgeheiden/Portfolio" target="_blank">
            <img
              src="../../../assets/redes/icons8-github-100-black.png"
              alt=""
            />
          </a>
          <a href="https://portfolio-d210c.web.app/" target="_blank">
            <img
              src=".././../../assets/Proyectos/icono-rightarrow.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <img src="../../../assets/Proyectos/portfolio.png" alt="" />
    </li>
  </ul>
</div>
