<div class="contenedor">
    <div class="titulo">
        <h1>Mis <span>Proyectos</span></h1>
    </div>
        <ul>
            <li class="proyecto">
                <div class="detalles">
                    <h1>Pomodoro</h1>
                    <p>Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste et in ipsam ex at.</p>
                    <div class="githublink">
                        <a href="">
                            <img src="../../../assets/redes/icons8-github-100-black.png" alt="">
                        </a>
                        <a href="">
                            <img src=".././../../assets/Proyectos/icono-rightarrow.svg" alt="">
                        </a>
                    </div>
                </div>
                <img src="../../../assets/Proyectos/pexels-life-of-pix-7974.jpg" alt="">
            </li>

            <li class="proyecto">
                <div class="detalles">
                    <h1>Country Info</h1>
                    <p>Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste et in ipsam ex at.</p>
                    <div class="githublink">
                        <a href="">
                            <img src="../../../assets/redes/icons8-github-100-black.png" alt="">
                        </a>
                        <a href="">
                            <img src=".././../../assets/Proyectos/icono-rightarrow.svg" alt="">
                        </a>
                    </div>
                </div>
                <img src="../../../assets/Proyectos/pexels-life-of-pix-7974.jpg" alt="">
            </li>
            <li class="proyecto">
                <div class="detalles">
                    <h1>Weather-app</h1>
                    <p>Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste et in ipsam ex at.</p>
                    <div class="githublink">
                        <a href="">
                            <img src="../../../assets/redes/icons8-github-100-black.png" alt="">
                        </a>
                        <a href="">
                            <img src=".././../../assets/Proyectos/icono-rightarrow.svg" alt="">
                        </a>
                    </div>
                </div>
                <img src="../../../assets/Proyectos/pexels-life-of-pix-7974.jpg" alt="">
            </li>
            
        </ul>
</div>

