.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    
    background-color: rgb(17, 17, 17);
    scroll-snap-align: start;
    position: relative;
}
.contenedor ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 0;
    padding: 0;
}
.contenedor li{
    list-style: none;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: -1rem 0 3rem rgb(34, 34, 34);
    border-radius: 10px;
}
.proyecto img{
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    cursor: pointer;
    
}

.titulo h1{
    font-size: 3rem;
    color: white;
    margin: 2rem 0 3.5rem 0;
    font-family: 'Inter', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}
.titulo span{
   color: #27AE60;
}
.detalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 20rem;
    height: 15rem;
    border-radius: 15px;
    background-color: #27AE60;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
    
}
.proyecto:hover .detalles{
    opacity: 0.8;
    transform: scale(1.01);
}
.detalles h1{
    color: rgb(240, 240, 240);
}
.detalles p{
    width: 80%;
}
.detalles img{
    margin: 0 0.5rem 1.5rem 0.5rem;
}
.githublink img{
    width: 2.2rem;
    height: 2.2rem;
}