<div class="contenedor">
  <div class="proyecto">
    <div class="imagen">
      <img src="../../../assets/Proyectos/captura-todoapp2.png" alt="" />
    </div>
    <div class="descripcion">
      <h1>Todo app</h1>
      <p class="descripcion__parrafo">
        Aplicacion en la que se pone en practica multiples conocimientos de programacion. Algunas caracteristicas: 
        CRUD, Filtro de Tareas, Modo Noche, localStorage, Diseño Responsive.
      </p>
      <ul class="contenedor__tecnologias">
        <li class="list__item">
          <img src="../../../assets/skills/icons8-html-5.svg" alt="" />
          <p>Html</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-javascript.svg" alt="" />
          <p>JavaScript</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-css3.svg" alt="" />
          <p>Css</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-angularjs.svg" alt="" />
          <p>Angular</p>
        </li>
      </ul>
      <div class="contenedor__links">
        <a href="https://todo-app-53a3f.web.app/" target="_blank">VER PROYECTO</a>
        <a href="" target="_blank">FRONT</a>
      </div>
    </div>
  </div>
  <div class="proyecto">
    <div class="imagen">
      <img src="../../../assets/Proyectos/lista-empleados.png" alt="" />
    </div>
    <div class="descripcion">
      <h1>Lista de Empleados</h1>
      <p class="descripcion__parrafo">
        Registro de empleados. Algunas caracteristicas: Implementacion de un CRUD, utilizando en el Front-End Angular con un 
        diseño Responsive y en el Back-End Node.js con Express y SQL como base de datos
      </p>
      <ul class="contenedor__tecnologias">
        <li class="list__item">
          <img src="../../../assets/skills/icons8-html-5.svg" alt="" />
          <p>Html</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-javascript.svg" alt="" />
          <p>JavaScript</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-css3.svg" alt="" />
          <p>Css</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-angularjs.svg" alt="" />
          <p>Angular</p>
        </li>
        <li class="list__item">
          <img
            src="../../../assets/skills/icons8-nodejs.svg"
            alt=""
            style="margin-right: 0.5rem"
          />
          <p>Node.js</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/file_type_sql_icon_130152.png" alt="" />
          <p>SQL</p>
        </li>
      </ul>
      <div class="contenedor__links">
        <a href="https://lista-de-empleados-69bab.web.app/" target="_blank">VER PROYECTO</a>
        <a href="https://github.com/jorgeheiden/lista-empleados-front" target="_blank">FRONT</a>
        <a href="https://github.com/jorgeheiden/backend-lista-empleados" target="_blank">BACK</a>
      </div>
    </div>
  </div>
  <div class="proyecto">
    <div class="imagen">
      <img src="../../../assets/Proyectos/ip tracker original.png" alt="" />
    </div>
    <div class="descripcion">
      <h1>IP Tracker</h1>
      <p class="descripcion__parrafo">
        Aplicacion que permite obtener la localizacion geografica de una IP o Dominio. En forma predeterminada,
        la del cliente y con el buscador la deseada. Luego automaticamente visualizarla en un mapa.
      </p>
      <ul class="contenedor__tecnologias">
        <li class="list__item">
          <img src="../../../assets/skills/icons8-html-5.svg" alt="" />
          <p>Html</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-javascript.svg" alt="" />
          <p>JavaScript</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-css3.svg" alt="" />
          <p>Css</p>
        </li>
        <li class="list__item">
          <img src="../../../assets/skills/icons8-angularjs.svg" alt="" />
          <p>Angular</p>
        </li>
      </ul>
      <div class="contenedor__links">
        <a href="https://ip-tracker-8a913.web.app/" target="_blank">VER PROYECTO</a>
        <a href="https://github.com/jorgeheiden/IP-address-tracker-app" target="_blank">FRONT</a>
      </div>
    </div>
  </div>
</div>
