<div class="contenedor">
    <div class="skills">
        <h1><span>S</span>kills</h1>
        <ul >
            <li #skills [ngClass]="{'ocultar': ocultar, 'mostrar-elemento1': mostrar}" class="html" >
                <img src="../../../assets/skills/icons8-html-5.svg" alt="">
                <div class="tecnologia">Html</div>
            </li>
            <li class="css" #skills [ngClass]="{'ocultar': ocultar, 'mostrar-elemento2': mostrar}">
                <img src="../../../assets/skills/icons8-css3.svg" alt="">
                <div class="tecnologia">Css</div>
            </li>
            <li class="js" #skills [ngClass]="{'ocultar': ocultar, 'mostrar-elemento3': mostrar}">
                <img src="../../../assets/skills/icons8-javascript.svg" alt="">
                <div class="tecnologia">JavaScript</div>
            </li>
            <li class="angular" #skills [ngClass]="{'ocultar': ocultar, 'mostrar-elemento4': mostrar}">
                <img src="../../../assets/skills/icons8-angularjs.svg" alt="">
                <div class="tecnologia">Angular</div>
            </li>
            <li class="git" #skills [ngClass]="{'ocultar': ocultar, 'mostrar-elemento5': mostrar}">
                <img src="../../../assets/skills/icons8-git.svg" alt="">
                <div class="tecnologia">Git</div>
            </li>
            <li class="springboot" #skills [ngClass]="{'ocultar': ocultar, 'mostrar-elemento6': mostrar}">
                <img class="springbootimg" src="../../../assets/skills/spring-icon-svgrepo-com.svg" alt="">
                <div class="tecnologia">SpringBoot</div>
            </li>
            <li class="sql" #skills [ngClass]="{'ocultar': ocultar, 'mostrar-elemento7': mostrar}">
                <img src="../../../assets/skills/file_type_sql_icon_130152.png" alt="">
                <div class="tecnologia">SQL</div>
            </li>
        </ul>
    </div>
</div>

