.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(17, 17, 17);

  scroll-snap-align: start;
  position: relative;
}
.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  min-height: 80vh;
  margin-right: 0.5rem;
}
.skills h1 {
  font-family: "Inter", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 3.3rem;
  margin-bottom: 3.3rem;
}
.skills span {
  color: #27ae60;
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 10rem;
  height: 9rem;
  border-radius: 10px;
  /*box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;*/
  margin: 0 1rem 2rem 1rem;
  transition: all 300ms;
}
.skills li:hover {
  transform: scale(1.1);
}

.tecnologia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #f7f7f7;
  border-top: 1rem;
  border-radius: 0 0 10px 10px;
}
.html {
  background-color: rgba(255, 117, 53, 0.938);
}

.css {
  background-color: rgba(82, 82, 255, 0.925);
}
.js {
  background-color: #ffef64ee;
}
.typescript{
  background-color: rgb(78, 143, 241);
}
.angular {
  background-color: #ff4646;
}
.git {
  background-color: rgb(0, 0, 0);
}
.springboot {
  background-color: rgba(5, 5, 5, 0.788);
}
.sql {
  background-color: #b3b62b;
}
.skills img {
  width: 6rem;
  height: 6rem;
}

.springbootimg {
  padding-top: 0.5rem;
  width: 5.6rem;
  height: 5.6rem;
}

.stack-card {
  margin-top: 3rem;
  width: 60%;
  min-height: 20vh;
  border-radius: 4px;
  background: rgb(27, 27, 27);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}
.stack-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

//Transicion al hacer scroll
.ocultar{
  opacity: 0;
  filter: blur(10px);
  transform: translateY(100%);
}
.mostrar-elemento1{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2000ms!important;
}
.mostrar-elemento2{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1800ms!important;
}
.mostrar-elemento3{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1600ms!important;
}
.mostrar-elemento4{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1400ms!important;
}
.mostrar-elemento5{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1200ms!important;
}
.mostrar-elemento6{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1000ms!important;
}
.mostrar-elemento7{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 800ms!important;
}

/*************************************************/
@media only screen and (max-width: 575px) {
  .contenedor {
    min-height: 60vh;
  }
  .skills {
    width: 95%;
    margin: 0;
  }
  .skills li {
    width: 6.5rem;
    height: 5.7rem;
    margin: 0 0.6rem 2.5rem 0.6rem;
  }
  .skills ul {
    padding: 0;
  }
  .skills img {
    width: 4rem;
    height: 4rem;
  }
  .skills h1 {
    margin-top: 2.5rem;
  }
  .tecnologia {
    font-size: 0.9rem;
    height: 35%;
  }

  //Animacion scroll
  .ocultar{
    filter: blur(0);
    transform: translate(0);
  }
}
